body {

	background: #151924;
	color: white;
	font-family: sans-serif;
	margin: 0 auto;
	
}

a {text-decoration: none}
a:link {color:#e55e5f;}      /* unvisited link */
a:visited {color:#e55e5f;}  /* visited link */
a:hover {color:#e55e5f;}  /* mouse over link */
a:active {color:#e55e5f;}  /* selected link */

.container {

	float: center;
    margin: 0 auto;
    width: 85em;

}

.clear {

    clear: both;

}

.left {

	float: left;
    position: relative;
	width: 24em;
    padding-left: 1em;
    padding-right: 1em;

}

.middle {

	float: left;
    position: relative;
	width: 28em;

}

.right {

	float: left;
    position: relative;
    padding-left: 3em;
	width: 25em;

}

canvas {

	height: 28em;
	
}

.b_wrapper {

	padding-top: 1em;
	margin: 0 auto;

}

.details {

	

}

#widget {

	text-align: right !important;
	
}

/*http://dominoc925.blogspot.com.au/2011/10/how-to-align-facebook-like-button-with.html*/

#sidebar #social {

    margin: 10px;

}    

#fb-like{

    width: 107px !important;

}

div .plusone, .twitter, .fb-like {

    font-size: 1px;
    display: inline-block;

}

div .fb_reset {

    display: inline;

}

.fb_edge_widget_with_comment {

    width: 105px !important;
    
}